@import "../utils/variables";
@import "../utils/mixins";

@mixin fondbody {
  height: 100%;
  width: 1100px;
}
@mixin fondheader {
  background: $colour-primary;
  color: yellow;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3em;
  height: 120px;
  width: 100%;
}
@mixin fondmenu1234 {
  height: 32em;
  width: 24em;
  background: grey;
}
@mixin fondmenu {
  background: purple;
  height: 100%;
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: space-evenly;
}
@mixin pagemenu {
  background: orange;
  height: 85%;
  width: 80%;
}
@mixin pagemenutitre {
  background: red;
  height: 6%;
  width: 80%;
  margin-top: -1.5em;
}
html {
  display: flex;
  justify-content: center;
}

header {
  @include fondheader;
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  @include fondbody;
  margin: 0;
  padding: 0;
}
footer {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  height: 85px;
  background: $colour-primary;
  color: yellow;
  font-size: 2.5em;
  position: fixed;
  bottom: 0;
  width: 1060px;
}
.margefooter {
  height: 85px;
}

.container {
  background: lightblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 1400px;
}

/*page acceuil*/

.menu {
  @include fondmenu;
}
.menu1 {
  @include fondmenu1234;
}
.menu2 {
  @include fondmenu1234;
}
.menu3 {
  @include fondmenu1234;
}
.menu4 {
  @include fondmenu1234;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $colour-primary;
  width: 50%;
  height: 2em;
  border-radius: 0.4em;
  font-size: 2.7em;
  color: yellow;
}

/*page note*/

.menutitre {
  @include pagemenutitre;
}

.menunote {
  @include pagemenu;
}
